:root {
  --color-primary: #EBBCBC;   /* soft rose - main background/brand */
  --color-secondary: #EBC4BB; /* light peach - secondary background */
  --color-accent: #ED5AAE;    /* vibrant pink - buttons/highlights */
  --color-neutral: #EBD5BC;   /* warm beige - neutral areas */
  --color-highlight: #ED8872; /* coral orange - calls to action */
  --color-dark: #333333;      /* text color */
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: var(--color-primary);
color:var(--color-neutral);
}


header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
color: var(--color-accent);
}